h1 {
  font-family: 'Raleway', sans-serif;
  margin: 10px auto;
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px auto;
}

strong {
  font-weight: 700;
}

input {
  display: inline;
  font-size: 16px;
}

input[type=number] {
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

input[type=submit] {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;

}

.row {
  height: 10px;
  width: 100%;
  clear: both;
  border: 1px solid black;
}

.column {
  /*background-color: #F2F2F2;*/
  display: inline-block;
  float: left;
  border: 1px solid black;
}

.blackFill {
  background-color: black;
}

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 50px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}

#boxes #dialog {
  width: 300px;
  height: 150px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  text-align: left;
}


#popupfoot {
  font-size: 12pt;
  position: absolute;
  bottom: 25px;
  width: 100% auto;
  left: 100px;
}

#popuptitle {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
}

input {
  margin: 5px;
}

.wrapper {
  margin: 0px auto;
}

.topbutton {
  text-align: center;
}

.minor {
  font-family: 'Raleway', sans-serif;
  font-size: 
}

#start {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.bottombutton {
  text-align: center;
}

#grid {
  position: relative;
  height: 400px;
  width: 1000px;
  margin: 10px auto;
  padding: 0;
  box-sizing: content-box;
  max-height: 400px;
  font-size: 0;
  overflow: hidden;
}

.divGrid {
  border: none;
  display: inline-block;
  /*display: table-cell;*/
  clear: both;
  box-sizing: border-box;

}

.highlighted {
  border: 1px solid blue;
}

.dot {
  border-radius: 50%;
}
